.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input{
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 10px 0px;
    border-radius: 5px;
    border: .5px solid #FEFEFE;
    color: #FEFEFE;
}
label{
    font-size: 12px;
    color: #FEFEFE;
}

span{
    text-align: center;
    font-size: 12px;
    padding: 3px;
    color: white;
}
